@import url(../css/normalize.css);
/* Basic Settings */
html {
  font-size: 10px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2.8rem;
  color: #7A7A7A;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  max-width: 1200px;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}

.header {
  position: relative;
  padding: 15rem 0;
}
.header::after, .header::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.header::before {
  background-color: #E3F5F2;
  top: 0;
  left: 0;
  width: 722px;
}
.header::after {
  background: url(../img/bg.png) no-repeat;
  width: 50%;
  top: -1px;
  right: -1px;
  z-index: -2;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-text {
  max-width: 30rem;
  margin-right: 14rem;
}
.header-text span {
  text-transform: uppercase;
  color: #999999;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
}
.header-text h2 {
  padding-bottom: 3rem;
  font-weight: bold;
  color: #000;
  font-size: 3rem;
  line-height: 3.8rem;
  letter-spacing: -1.27273px;
  text-transform: capitalize;
}
.header-form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8rem 5rem 7rem;
  border-radius: 1rem;
}
.header-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-form form input, .header-form form button {
  width: 30rem;
  border: none;
}
.header-form form input {
  padding: 1.2rem 0 1.2rem 3rem;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 2rem;
}
.header-form form button {
  margin-bottom: 2rem;
  background-color: #0AD9C6;
  border-radius: 6px;
  text-align: center;
  padding: 1.2rem 0;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-form form button:hover {
  cursor: pointer;
  background-color: #3af6e5;
}
.header-form-description {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 300;
}
.header-form-description p:nth-child(2) {
  padding-left: 7px;
}

.main {
  padding: 6rem 0;
}
.main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-inner-bottom {
  padding-top: 5rem;
}
.main-inner-bottom .main-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main-text {
  max-width: 36rem;
}
.main-text h2 {
  margin-bottom: 3rem;
  color: #000;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 34px;
  letter-spacing: -0.5px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .main-img {
    width: 50rem;
  }

  .header-inner {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .container-fluid {
    padding: 0 3rem;
  }

  .main-img {
    width: 30rem;
  }

  .header-text {
    margin-right: 3rem;
  }

  .header::before {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */