//  MEDIA QUERY 
  
@media ( min-width: 1441px ) 
  .container-fluid
    margin: 0 auto
  .header-inner
    justify-content: space-between
  .header::after, .header::before
    width: 50%

@media ( max-width: 1199px )
  .container
    max-width: 960px
  .main-img
    width: 50rem
  .header-inner
    width: 100%
    justify-content: space-between

@media ( max-width: 991px )
  .container
    max-width: 720px
  .container-fluid
    padding: 0 3rem
  .main-img
    width: 30rem
  .header-text
    margin-right: 3rem
  .header::before
    width: 80%

@media ( max-width: 767px )
  .container
    max-width: 540px

@media ( max-width: 575px )
  .container
    max-width: 90%

