//  MEDIA QUERY 
  

@media ( max-width: 1199px )
  .container
    max-width: 960px
  .container-fluid
    padding: 0 3rem
  .header-text
    margin-top: 25rem
    margin-right: 6.5rem
  .header::after
    background-position: right -169px top 
  .header::before
    width: 73%
  .header-form
    margin-top: 19rem
    width: 343px
    height: 391px
    padding: 4rem 2rem 3.5rem
  .main
    padding: 4rem 0
    &-img
      width: 344px
      height: 350px      
      img
        height: 100%
    &-inner
      justify-content: space-evenly
      &-bottom 
        padding-top: 3rem
        .main-img
          order: -1 
    &-text
      max-width: 312px
  
@media ( max-width: 991px )
  .container
    max-width: 720px
  .main-inner
    justify-content: space-between
  
@media ( max-width: 767px )
  .container
    max-width: 540px
  .container-fluid
    padding: 0 15px
  .header
    height: 800px
    &::before
      width: 82%
    &::after
      background-size: cover
    &-inner
      flex-direction: column
      align-items: center
    &-text
      margin-top: 5rem
      margin-right: 0
      h2
        font-size: 2.6rem
    &-form
      margin-top: 4rem      
  .main
    &-inner
      flex-wrap: wrap
      justify-content: center
    &-img
      width: 344px
      height: 240px  
    &-text
      margin-top: 2rem

@media ( max-width: 575px )
  .container
    max-width: 90%
  .header-text
    align-self: start
  

