//  MEDIA QUERY 
  


@media ( max-width: 1199px )
  .container
    max-width: 960px

@media ( max-width: 991px )
  .container
    max-width: 720px

@media ( max-width: 767px )
  .container
    max-width: 540px

@media ( max-width: 575px )
  .container
    max-width: 90%

