
@import '../css/normalize.css'
@import 'fonts'
@import 'variables'
@import 'mixin'

/* Basic Settings */

  
html
  font-size: 10px

body
  font-size: $fz
  
.container 
  max-width: 1200px
  width: 100%
  padding-left: 15px
  padding-right: 15px
  margin-right: auto
  margin-left: auto



@import 'blocks/header'
@import 'media'